
@{
    ViewBag.Title = "我的收藏";
}

<div id="sliderPage" data-role="slider" class="full">
  <div  id="page1"  class="slide page" data-role="page" data-scroll="verticle">

            <div class="scroller">
                <ul class="listitem"></ul>
            </div>

        </div>
    </div>

@section Scripts{
    <script>
	 	$(function () {

            var url = '@Url.Action("Search")',
                 searchType = '@SearchOptionType.MyFavorite',
                 searchTerm;

            $('.page').on('scrollInit', function () {
                var page = this,
                    ldr = new loader(url, 0, searchType, searchTerm);

                //懒加载，当列表滚动条到底部时加载数据
                var s = A.Scroll(this);
                s.on('scrollBottom', function () {
                    A.showToast('努力加载中...');
                    ldr.loadAsync(function (data) {
                        bind(page, data, true);
                        s.refresh(); //如果scroll区域dom有改变，需要刷新一下此区域，
                    });
                });

                //每个页面默认加载数据
                ldr.loadAsync(function (data) {
                    bind(page, data, false);
                    s.refresh();
                });

                $('.btn-search').on(A.options.clickEvent, function () { 
                    searchTerm = $('#courseName').val();
                    ldr = new loader(url, 0, searchType, searchTerm);
                    ldr.loadAsync(function (data) {
                        clear(page);
                        bind(page, data, false);
                        s.refresh();
                    });
                });
            });

        });
    </script>
}