@model System.Web.Mvc.	HandleErrorInfo

@{
    ViewBag.Title = "系统异常";
}
<div style="margin-top:100px;">
	<h1 class="text-danger">系统发生异常请联系管理员</h1>
	@*<h2 class="text-danger">@Model.Exception.ToString()</h2>*@
	@*<h2 class="text-danger">@Model.Exception.InnerException.ToString()</h2>*@
</div>
